<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <a href="/users">Users</a>
  <a href="/users/1">User 1</a>
  <a href="/users/2">User 2</a>
  <a href="/users/3">User 3</a>
  <form action="/login" method="POST">
    <label for="email">Email</label>
    <input type="text" name="email" id="email" />
    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
    <button type="submit">Send</button>
  </form>
</body>

</html>